.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.profile img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 2px;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  margin: 1rem 0;
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 4rem;
  border-radius: 2rem;
  background-color: white;
  color: black;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 1.5rem;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

a:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.link-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.link-text {
  font-size: 20px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
